.chart{
    -fx-padding: 10px;
    symbol-color0: #29B6F6;
    symbol-color1: #f10129;
    symbol-color2: #00ff25;
}

.default-color0.chart-bar { -fx-bar-fill: symbol-color0; }

.chart-symbol { /* solid circle */
    -fx-background-color: CHART_COLOR_1;
    -fx-background-radius: 0px;
    -fx-padding: 0px;
}

.chart-legend {
    -fx-font-size: 0px;
    -fx-legend-visible: false;
}
