.chart{
    -fx-padding: 10px;
    symbol-color0: #29B6F6;
    symbol-color1: #f10129;
    symbol-color2: #00ff25;

}

.default-color0.chart-bar { -fx-bar-fill: symbol-color2; }
.default-color1.chart-bar { -fx-bar-fill: symbol-color1; }
.default-color2.chart-bar { -fx-bar-fill: symbol-color0; }

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-symbol { /* solid circle */
    -fx-background-color: CHART_COLOR_1;
    -fx-background-radius: 5px;
    -fx-padding: 5px;
}

.chart-legend {
    -fx-legend-visible: true;
}


.chart-vertical-grid-lines {
    -fx-stroke: transparent;
    -fx-stroke-dash-array: 0.25em, 0.25em;
}
.chart-horizontal-grid-lines {
    -fx-stroke: transparent;
    -fx-stroke-dash-array: 0.25em, 0.25em;
}