.chart{
    -fx-padding: 5px 5px 5px 15px;
    -fx-background-color: white;
    symbol-color0: #29B6F6;
    symbol-color1: #f10129;
    symbol-color2: #00ff25;
    symbol-color3: #ff9800;
    symbol-color4: #ff00eb;
}

.chart-content{
    -fx-padding: 5px;
}

.chart-series-line{
    -fx-stroke-width: 2px;
    -fx-stroke: black;
    -fx-effect: null;
}

    .default-color0.chart-series-line{-fx-stroke: #29B6F6;}
    .default-color1.chart-series-line{-fx-stroke: #f10129;}
    .default-color2.chart-series-line{-fx-stroke: #00ff25;}
    .default-color3.chart-series-line{-fx-stroke: #ff9800;}
    .default-color4.chart-series-line{-fx-stroke: #ff00eb;}

.chart-line-symbol {
    -fx-background-color: #29B6F6, white;
    -fx-background-insets: 0, 2;
    -fx-background-radius: 5px;
    -fx-padding: 4px;
}

    .default-color0.chart-line-symbol{-fx-background-color: symbol-color0;}
    .default-color1.chart-line-symbol{-fx-background-color: symbol-color1;}
    .default-color2.chart-line-symbol{-fx-background-color: symbol-color2;}
    .default-color3.chart-line-symbol{-fx-background-color: symbol-color3;}
    .default-color4.chart-line-symbol{-fx-background-color: symbol-color4;}


.chart-legend {
    -fx-background-color:  transparent;
    -fx-padding: 5px;
    -fx-font-size: 13px;
    -fx-font-weight: normal;
}

.chart-legend-item-symbol{
    -fx-background-radius: 0;
}

.chart-legend-item{
    -fx-text-fill: #191970;
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.axis-label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}

.chart-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
}

.default-color0.chart-bar { -fx-bar-fill: symbol-color0; }
.default-color1.chart-bar { -fx-bar-fill: symbol-color1; }
.default-color2.chart-bar { -fx-bar-fill: symbol-color2; }

.chart-plot-background {
    -fx-background-color: white;
}

.chart-vertical-grid-lines {
    -fx-stroke: derive(#ececec,-10%);
    -fx-stroke-dash-array: 0.1em, 0.1em;
}
.chart-horizontal-grid-lines {
    -fx-stroke: derive(#ececec,-18%);
    -fx-stroke-dash-array: 0.25em, 0.15em;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-alternative-row-fill {
    -fx-fill: null;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.chart-alternative-row-fill {
    -fx-fill: null;
    -fx-stroke: null;
}

.chart-vertical-zero-line,
.chart-horizontal-zero-line {
    -fx-stroke: derive(#ececec, 40%);
}


.axis {
    AXIS_COLOR: derive(#ececec,-40%);
    -fx-tick-label-font-size: 1em; /* 10px */
    -fx-tick-label-fill: derive(#ececec, -65%);

    -fx-font-size: 1em;
    -fx-stroke: #1c1c1c;
    -fx-tick-label-fill: black;
    -fx-tick-length: 20;
    -fx-minor-tick-length: 10;
}
.axis:top {
    -fx-border-color: transparent transparent AXIS_COLOR transparent;
}
.axis:right {
    -fx-border-color: transparent transparent transparent AXIS_COLOR;
}
.axis:bottom {
    -fx-border-color: AXIS_COLOR transparent transparent transparent;
}
.axis:left {
    -fx-border-color: transparent AXIS_COLOR transparent transparent;
}

.axis-tick-mark,
.axis-minor-tick-mark {
    -fx-fill: null;
    -fx-stroke: AXIS_COLOR;
}